* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* bgc = background-color */
    --header-bgc: #FF0D0D;
    --nav-bar-bgc: #FF6363;
    --nav-item-hover-bgc: #C83838;
    --nav-item-focus-bgc: #CA0000;
    --section-bgc: #FFB3B3;
    --body-bgc: #FFDEDE;
    --footer-bgc: #E13C3C;
    --slider-bgc: #FFB3B3;
    --section-content-container-bgc: #FFB3B3;
    --product-bgc: #FE3E3E;
    --logo-bgc: yellow;
    --slider-btn-bgc: rgb(255, 0, 150);
    --section-btn-bgc: rgba(255, 0, 150, 0.5);
    --search-bar-focus-bgc: blueviolet;
    --invisible-black: rgba(0, 0, 0, 0);
    --hover-btn: rgba(0, 0, 0, 0.1);
}

.hover-scale:hover {
    scale: 1.1;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.btn-hover-black-transparent {
    background-color: var(--invisible-black);
}

.btn-hover-black-transparent:hover {
    background-color: var(--hover-btn);
}

.upper {text-transform: uppercase;}
.no-decor-text {text-decoration: none;}
.haft {width: 50%;}
.full {width: 100%;}
.hid {display: none!important;}
.show {display: block!important;}
.no-scroll {overflow: hidden;}
a {
    text-decoration: none;
}
p {
    font-size: 24px;
    margin: 0;
}
button {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    user-select: none;
}
html {
    font-family: Verdana, sans-serif;
    line-height: 22.5px;
    font-size: 15px;
    scroll-behavior: smooth;
}
body {
    height: auto;
    line-height: 1.5;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* scrollbar-gutter: ; */
    background-color: var(--body-bgc);
}

#header {}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: var(--header-bgc);
    padding-top: 10px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin: 0 auto;
    width: 90%;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--logo-bgc);
    user-select: none;
    content: url(../img/logo.png);
}

.header-container p {
    position: relative;
}

.search-bar {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 450px;
    height:  30px;
    line-height: 24px;
    padding-left: 10px;
    box-sizing: border-box;
    user-select: none;
}

.search-bar:focus {
    /* Đổi màu */
    outline: 2px solid var(--search-bar-focus-bgc);
}

.cart-btn {
    width: 50px;
    height: 50px;
    font-size: 30px;
    /* background-color: white; */
    color: white;
}

nav {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 100%;
    background-color: var(--nav-bar-bgc);
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-size: 0;
    height: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.nav-item {
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    padding: 12px 24px;
    color: white;
    /* background-color: black; */
}

.nav-item:hover {
    background-color: var(--nav-item-hover-bgc);
}

.nav-item:focus {
    /* color: ; */
    background-color: var(--nav-item-focus-bgc);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.5);
}

#cart-section {}
.cart-side-section {
    position: fixed;
    top: 0;
    right: 0;
    width: 700px;
    height: 100vh;
    z-index: 30;
    transform: translateX(100%);
    transition: transform 0.1s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    overflow: hidden;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.cart-section-title {
    display: inline-flex;
    width: 90%;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.cart-section-title p {
    font-size: 18px;
}

.cart-section-title .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 26px;
    border-radius: 50%;
    /* color: rgb(255, 216, 216); */
    /* background-color: rgb(255, 75, 75); */
}

.close-cart-btn {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 24px;
}

.cart-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    padding: 20px;
    box-sizing: border-box;
}

.cart-item {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-areas: 'quantity image info remove-btn';
    grid-template-columns: .3fr .5fr 2.5fr .3fr;
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: beige;
}

.cart-item .item-quantity {
    grid-area: quantity;
    justify-self: start;
    text-align: center;
}

.item-quantity button {
    border: 1px solid black;
    border-radius: 5px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    font-size: 30px;
}

.item-quantity p {
    font-size: 20px;
}

.cart-item img {
    grid-area: image;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    content: url(../img/banh-trang-phoi-suong.png);
    background-color: blue;
}

.cart-item .item-info {
    grid-area: info;
}

.cart-item .remove-btn {
    grid-area: remove-btn;
    justify-self: end;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
}

.cart-link {
    position: sticky;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 150px;
}

.cart-link a {
    width: 80%;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    border-radius: 20px;
    color: white;
    background-color: var(--nav-bar-bgc);
}

.cart-link a:hover {
    background-color: rgb(0, 100, 0);
}

#slider {}
.slider {
    position: relative;
    width: 100%;
    height: 90%;
    margin: 96px auto;
    overflow: hidden;
    background-color: var(--slider-bgc);
}

.slide-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    transition: transform 1.2s ease-in-out; /* Animation cho chuyển động */
    padding: 30px 0;
    box-sizing: border-box;
}

.slide {
    position: relative;
    min-width: calc(100% - 2 * 20px);
    height: 590px;
    margin: 0 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.slide1 {
    background-image: url(../img/slide-1.png);
}

.slide2 {
    background-image: url(../img/slide-2.png);
}

.slide-btn-container {
    position: absolute;
    top: calc(0.4 * 800px);
    width: 100%;
    display: flex;
    padding: 0 16px;
    justify-content: space-between;
}

.slide-btn-container button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-color: var(--slider-btn-bgc);
}

#section {}
.section {
    height: 380px;
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-content-container {
    width: 70%;
    height: 80%;
    margin: 0 auto;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--section-content-container-bgc);
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 90%;
    height: fit-content;
    text-align: left;
    position: relative;
    top: 10px;
    /* border: 1px solid black; */
}

.section-btn-container {
    position: absolute;
    display: flex;
    width: 68%;
    justify-content: space-between;
}

.section-btn-container button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    transition: 0.2s;
    background-color: var(--section-btn-bgc);
}

/* .test {
    width: 86%;
    height: 70%;
    overflow: hidden;
}

.test .product-list {
    width: 100%;
    height: 100%;
} */

#product {}
.product-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 86%;
    height: 70%;
    padding: 0 10px;
    transition: transform 0.6s ease-in-out;
    /* column-gap: 30px; */
    /* border: 1px solid black; */
}

.product {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    min-width: 20%;
    border-radius: 10px;
    overflow: hidden;
    outline: 5px solid white;
    transition: 0.3s;
    background-color: var(--product-bgc);
}

.product:hover {
    /* transform: translateY(-20px); */
    transition: 0.3s ease-out;
}

.product img {
    width: 100%;
    height: 100%;
    transition: 0.3s;
    /* border-radius: 5px; */
    content: url(../img/banh-trang-phoi-suong.png);
}

.product .product-img {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0 auto;
    overflow: hidden;
}

.product-info {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "name name name"
        "price price icon";
}

.product-info .name {
    grid-area: name;
    font-size: 16px;
    text-align: center;
}

.product-info .price {
    grid-area: price;
    font-size: 16px;
    line-height: 36px;
    color: white;
    text-align: left;
    text-indent: 10px;
}

.product-info button {
    grid-area: icon;
    width: 40px;
    height: 40px;
    font-size: 24px;
    /* padding-bottom: 10px; */
}

#footer {}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    margin-top: 40px;
    background-color: var(--footer-bgc);
}

.footer-column {
    width: fit-content;
    max-width: 450px;
    min-height: 200px;
    margin: auto 50px;
    color: white;
}

footer p {
    font-size: 18px;
    font-weight: bold;
}

footer ul {
    text-align: justify;
    list-style: none;
}

footer li {
    font-size: 16px;
    line-height: 32px;
}

.footer-column-title {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    min-height: 50px;
}

#animation {}
@keyframes slide-in-right {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(0);
    }
}

.slide-in-right-normal {
    animation: slide-in-right 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s infinite normal both;
    
}

@keyframes slide-out-left {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(-100vw);
    }
}

.slide-out-left-normal {
    animation: slide-out-left 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s infinite normal both;
}

@keyframes fade-out-right {0% { transform: translateX(0); opacity: 1; } 100% { transform: translateX(50px); opacity: 0;} }

.fade-out-right-normal { 
    animation: fade-out-right-normal 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s 1 normal both; 
}

@keyframes fade-out-left {0% { transform: translateX(0); opacity: 1; } 100% { transform: translateX(-50px); opacity: 0;} }

.fade-out-left-normal { 
    animation: fade-out-left-normal 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s 1 normal both; 
}

@keyframes fade-in-right {0% { transform: translateX(50px); opacity: 0; } 100% { transform: translateX(0); opacity: 1;} }

.fade-in-right-normal { 
    animation: fade-in-right-normal 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0s 1 normal both; 
}

@keyframes fade-in-left {0% { transform: translateX(-50px); opacity: 0; } 100% { transform: translateX(0); opacity: 1;} }

.fade-in-left-normal { 
    animation: fade-in-left-normal 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0s 1 normal both; 
}


